<section class="index-page">
  <section class="filter">
    <form nz-form [formGroup]="filterForm" nzLayout="inline" (ngSubmit)="onSubmit($event)"
          (reset)="resetFilter($event)">
      <nz-form-item>
        <nz-form-label>所属平台</nz-form-label>
        <nz-form-control>
          <app-platform-selector formControlName="playStationId"></app-platform-selector>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>游戏类别</nz-form-label>
        <nz-form-control>
          <app-game-type-selector formControlName="gameTypeId"></app-game-type-selector>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>游戏名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="gameName" placeholder="游戏名称">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>状态</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="isActive" nzAllowClear>
            <nz-option *ngFor="let status of activeStatusesService.getFilterData()" [nzValue]="status.value"
                       [nzLabel]="status.text"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="operations">
        <input type="submit" nz-button nzType="primary" value="查询"/>
        <input type="reset" nz-button value="重置"/>
      </nz-form-item>
    </form>
  </section>
  <section class="operations">
    <app-operation-button (doTask)="batchEnable($event)">批量启用</app-operation-button>
    <app-operation-button (doTask)="batchDisable($event)">批量禁用</app-operation-button>
  </section>
  <nz-table #indexListTable nzShowSizeChanger [nzData]="records" [nzLoading]="isLoading" [nzTotal]="totalCount"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="nzPageIndexChange($event)" [nzPageIndex]="pageIndex$ | async"
            nzShowQuickJumper [nzShowTotal]="totalTemplate" [nzPageSize]="pageSize$ | async"
            (nzPageSizeChange)="pageSizeChange($event)">
    <thead>
    <tr>
      <th nzShowCheckbox [nzSelections]="listOfSelection" [nzChecked]="isAllChecked"
          [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th nzWidth="80px">序号</th>
      <th nzWidth="200px">所属平台</th>
      <th nzWidth="200px">所属类别</th>
      <th nzWidth="200px">游戏名称</th>
      <th nzWidth="*">游戏地址</th>
      <th nzWidth="200px">图片</th>
<!--      <th nzWidth="200px">返水区间</th>-->
      <th nzWidth="100px">状态</th>
      <th nzWidth="100px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of indexListTable.data">
      <td nzShowCheckbox [nzChecked]="getItemCheck(data)" (nzCheckedChange)="updateItemCheck(data, $event)"></td>
      <td>{{ data.priority }}</td>
      <td>{{ data.platform }}</td>
      <td>{{ data.gameTypeName }}</td>
      <td>{{ data.gameName }}</td>
      <td><p style="min-width: 220px; overflow:hidden; word-break: break-all">{{ data.gameUrl }}</p></td>
      <td>
        <app-table-image-preview [src]="data.imageUrl$ | async"></app-table-image-preview>
      </td>
<!--      <td>-->
<!--        <ng-container *ngIf="data.startBackWater !== null || data.endBackWater !== null">{{ data.startBackWater | percent}} - {{data.endBackWater | percent }}</ng-container>-->
<!--      </td>-->
      <td>
        <app-enum-perview [enumValue]="!!data.isActive" [enumService]="activeStatusesService"></app-enum-perview>
      </td>
      <td class="options">
        <app-table-operations>
          <app-game-list-editor [listItem]="data" (needUpdateList)="refreshList()"></app-game-list-editor>
        </app-table-operations>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>
        <span class="pagination-total">
            共 {{ total }} 条记录 第 {{ pageIndex$ | async }} / {{ pageCount }} 页
        </span>
  </ng-template>
</section>

