<ng-template #tplContent>
  <h3>游戏类别</h3>
  <form class="editor" nz-form [formGroup]="dataForm" (ngSubmit)="submitForm($event)" (reset)="resetForm($event)">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>游戏类别名称</nz-form-label>
      <nz-form-control [nzSpan]="16" [nzErrorTip]="gameTypeNameErrorTpl">
        <input nz-input formControlName="gameTypeName" placeholder="请输入">
        <ng-template #gameTypeNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('server')">
            {{ control.errors.server }}
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            游戏类别名称不能为空
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
<!--    <nz-form-item>-->
<!--      <nz-form-label [nzSpan]="8" nzRequired>是否显示在标题栏</nz-form-label>-->
<!--      <nz-form-control [nzSpan]="16" [nzErrorTip]="isDisplayOnTitlebarErrorTpl">-->
<!--        <nz-select formControlName="isDisplayOnTitlebar">-->
<!--          <nz-option [nzValue]="true" [nzLabel]="'显示'"></nz-option>-->
<!--          <nz-option [nzValue]="false" [nzLabel]="'不显示'"></nz-option>-->
<!--        </nz-select>-->
<!--        <ng-template #isDisplayOnTitlebarErrorTpl let-control>-->
<!--          <ng-container *ngIf="control.hasError('server')">-->
<!--            {{ control.errors.server }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="control.hasError('required')">-->
<!--            必填选项不能为空-->
<!--          </ng-container>-->
<!--        </ng-template>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->
    <nz-form-item>
      <nz-form-label [nzSpan]="8">排序</nz-form-label>
      <nz-form-control [nzSpan]="16" nzExtra="递增排序，数值越小，排名越靠前。">
        <nz-input-number formControlName="priority" [nzMin]="1" [nzMax]="9999999999" [nzStep]="1"></nz-input-number>
        <ng-template #priorityErrorTpl let-control>
          <ng-container *ngIf="control.hasError('server')">
            {{ control.errors.server }}
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            排序不能为空
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="editor-bottom">
      <input type="submit" nz-button nzType="primary" value="确定"/>
      <input type="reset" nz-button value="取消"/>
    </nz-form-item>
  </form>
</ng-template>

<app-operation-button *ngIf="isCreated" type="primary" (doTask)="openDialog($event, tplContent)">＋ 新增
</app-operation-button>
<app-table-operation-button *ngIf="!isCreated" (doTask)="openDialog($event, tplContent)">编辑</app-table-operation-button>
